<!-- Navigation -->
<div class="grid-x navigation align-justify" {% if page.layout == 'home' %}data-aos="fade-down{% endif %}">
  
  <div class="shrink cell navigation__small navigation__logo show-for-medium">
        <a href="#donate" data-smooth-scroll>
          <img src="uploads/bfi-logo.png">
          <span class=""><svg class="icon icon-logo-inline"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-inline"></use></svg></span>
        </a>
  </div>
  
  <div class="shrink cell show-for-medium">
    <a href="#donate" class="button button--gradient" data-smooth-scroll>Donate Now</a>
  </div>

</div>
<!-- End Navigation -->
