@font-face {
  font-family: 'GT Walshiem Regular';
  src: 
  url('../fonts/gt-walshiem-regular.woff2') format('woff2'), 
  url('../fonts/gt-walshiem-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}