.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-logo-inline {
  width: 10em;
}

.icon-logo-stacked-rev {
  width: 1.4033203125em;
}

.icon-logo-stacked-rev {
  font-size: 15rem;
}

.icon-chevron-down {
  font-size: 2rem;
}

.icon-chevron-left {
  font-size: 3rem;
}

.icon-chevron-right {
  font-size: 3rem;
}