//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Animations
//   5. Loading
//   6. Navigation
//   7. Index
//   8. Projects
//   9. Project
//   10. All
//   11. Journal
//   12. About
//   15. Footer

// 1. Mixins
// ---------


@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin link-underline($color, $size, $duration, $centered) {
  color: $color;
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &:before {
    background-color: $color;
    content: '';
    height: $size;
    position: absolute;
    bottom: 0 - ($size/2);
    transition: $duration;
    width: 0;
    @if $centered == 'true' {
      left: 50%;
      transform: translateX(-50%); 
    }
  }
  
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

@mixin gradient-animation( $start, $end, $transTime ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($end, $start);
    content: '';    
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
     &:before {
       opacity: 1; 
     }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

.grid-container {
  padding-left: 0rem;
  padding-right: 0rem;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

a:hover {
  color: $color--highlight;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

blockquote {
      quotes: "“""”""‘""’  ";
      border-left: none;

      &:before {
        content: open-quote;
        color: $color--white;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }

      &:after {
        content: close-quote;
        color: $color--white;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.6em;
      }

      .blockquote-content {
        display: inline;
        color: $color--white;
      }
}

// 4. Buttons
// ----------

.button--gradient {
  @include button;
  @include button-style(#D536A3, #7F5090, #FFFFFF);
  border: 0px solid transparent;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to left, #D536A3 0%, #7F5090 100%);
  text-transform: uppercase;
  letter-spacing: $letter-spacing--loose;
 }
 
 .button--gradient:hover {
  background-position: right center;
  border: 0px solid transparent;
}
  

// 5. Animations
// -------------

[data-aos='fade-up'] {
  transform: translate(0, 1rem);
}

// 6. Navigation
// -------------

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 2rem 1rem 1rem 1rem;
  @include breakpoint(medium) {
    padding: 2rem 2rem 1rem 2rem;
  }
  @include breakpoint(large) {
    padding: 2rem 2rem 1rem 2rem;
  }
}

.navigation-new {
  background-color: transparent;
  transition: $primary-transition;
  padding: 2rem 1rem 1rem 1rem;
  @include breakpoint(medium) {
    padding: 2rem 2rem 1rem 2rem;
  }
  @include breakpoint(large) {
    padding: 2rem 2rem 1rem 2rem;
  }
}

.navigation-new.is-stuck {
  background-color: rgba($color--dark-blue, 0.85);
}

.navigation__logo {
  font-size: 1.75rem;
}

.navigation__logo img {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  vertical-align: baseline;
}

// 7. Lightgallery
// ---------------

.lg-sub-html {
  font-family: $header-font-family;
}

// 8. Sections
// -----------

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  @include breakpoint(small only) {
  background-position: 50% 0%;
  }
}

.section-arrow {
  position: absolute;
  bottom: 1rem;
}

// 9. Section One
// --------------

.section-one {
  background-position: right bottom;
}

.section-one__film-forever {
  height: 3rem;
  width: auto;
  vertical-align: baseline;
}

// 10. Section Two
// ---------------

.section-two {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-position: right bottom;
}

.section-two__content {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

// 11. Section Three
// -----------------

.section-three {
  position: relative;
}

.section-three video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}


// 12. Footer
// ---------

footer {
  margin-top: 2rem;
  padding: 2rem 1rem 2rem 1rem;
  @include breakpoint(medium) {
    padding: 2rem 2rem 2rem 2rem;
  }
  @include breakpoint(large) {
    padding: 3rem 3rem 3rem 3rem;
  }
}

footer .menu .menu-text {
  color: $color--white;
}

footer li a {
  color: $color--white;
}

.footer__film-forever {
  height: 3rem;
  width: auto;
  vertical-align: baseline;
}