---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}} page">
  
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}

<!-- One -->
<section class="section-one section-image" style="background-image: url({{page.section-one-image}}); height: 100vh;">
      
      <div class="grid-x align-middle align-center" style="height:100%">
      <div class="small-11 medium-10 cell">
      
      <div class="grid-x navigation" data-aos="fade-down">
        <div class="shrink cell">
          <a href="#donate" data-smooth-scroll><img src="uploads/film-forever.png" class="section-one__film-forever"></a>
        </div>
      </div>

      <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-12 medium-5 cell" data-aos="fade-in" data-aos-delay="500">
            <a href="#donate" data-toggle="donate" data-smooth-scroll><svg class="icon icon-logo-stacked-rev"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-stacked-rev"></use></svg></a>
        </div>
        <div class="small-12 medium-5 cell" data-aos="fade-in" data-aos-delay="500">
            <h3>{{page.section-one-header-text}}</h3>
            <a href="#donate" class="button--gradient" data-smooth-scroll>Donate Now</a>
            <p>Raising £1 million in 1 year for BFI Education</p>
        </div>
        
        
      </div>
      </div>


      </div>
      </div>
      
      <div class="section-arrow" style="width: 100%;">
      <div class="grid-x align-center">
        <div class="shrink cell">
          <a href="#section-two" data-options="threshold:0;" data-smooth-scroll><svg class="icon icon-chevron-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-chevron-down"></use></svg></a>
        </div>
      </div>
      </div>
      
</section>
<!-- End One -->

<div class="grid-x" id="content-test">
<div class="small-12 cell">
{{content}}
</div>
</div>


<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>