---
layout: default
---

<!-- Two -->

<section class="section-image section-two grid-x align-center" style="background-image: url({{page.section-two-image}}); min-height: 100vh; style=width:100%" id="section-two">
    
    <div data-sticky-container style="width:100%">
    <!-- Navigation -->
    <div class="grid-x navigation-new align-justify sticky" data-sticky data-options="stickyOn:small" data-anchor="content-test">
      <div class="shrink cell navigation__logo">
        <a href="#donate" data-smooth-scroll>
          <img src="uploads/bfi-logo.png">
           <span class="hide-for-small-only"><svg class="icon icon-logo-inline"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-inline"></use></svg></span>
        </a>
      </div>
      
      <div class="shrink cell">
        <a href="#donate" class="button button--gradient" data-smooth-scroll>Donate Now</a>
      </div>
    </div>
    <!-- End Navigation -->
    </div>
    
    <div class="small-11 medium-10 cell section-two__content">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-11 medium-6 cell" data-aos="fade-in">
            <h1>{{page.section-two-header-text}}</h1>
            <p>{{page.section-two-paragraph-text}}</p>
        </div>
      </div>
    </div>
    
</section>
<!-- End Two -->

<!-- Three -->
<section class="section-three section-image grid-x align-middle align-center" style="min-height: 100vh;">
  <div class="small-11 medium-10 cell">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-11 medium-6 cell" data-aos="fade-in">
        <p>{{page.section-three-paragraph-text}}</p>        
      </div>
    </div>
  </div>
  
  <video autoplay loop="true" muted>
    <source src="assets/videos/film.mp4" type="video/mp4">
    <source src="assets/videos/film.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>
        
</section>
<!-- End Three -->

<!-- Four -->
<section class="section-image grid-x align-middle align-center" style="background-image: url({{page.section-four-image}}); min-height: 100vh;">
  <div class="small-11 medium-10 cell">
        
    <!-- Title -->
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-8 cell" data-aos="fade-in">
        <h3>{{page.section-four-header-text}}</h3>
      </div>
    </div>
    <!-- End Title -->

    <!-- Sub-Sections -->
    <div class="grid-x grid-padding-y">
      {% for sub-section in page.section-four-sub-sections %}
      <div class="small-12 medium-4 cell" data-aos="fade-in">
        
        <div class="grid-x grid-padding-y">
          <div class="small-12 cell">
            <img src="{{ sub-section.image }}">
          </div>
        </div>
        
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-12 cell">     
            <h4>{{ sub-section.header }}</h4>
            <p>{{ sub-section.text }}</p>
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
    <!-- End Sub-Sections -->

  </div>
</section>
<!-- End Four -->


<!-- Five -->
<section class="section-image grid-x align-middle align-center" style="background-image: url({{page.section-five-image}}); min-height: 100vh;">
    <div class="small-12 cell">

      <!-- Orbit -->
        <div class="orbit" role="region" aria-label="Quotes" data-orbit>
          <div class="orbit-wrapper">
            <div class="orbit-controls">
              <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-chevron-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-chevron-left"></use></svg></button>
              <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-chevron-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-chevron-right"></use></svg></button>
            </div>
            <ul class="orbit-container">              
              {% for quote in page.section-five-quotes %}
                <li class="is-active orbit-slide">
                  <div class="grid-x grid-padding-x grid-padding-y align-center">
                    
                    <div class="small-8 medium-3 cell">
                    <img src="{{quote.image}}">
                    </div>
                    
                    <div class="small-8 medium-6 cell text-center ">
                    <h2>{{quote.name}}</h2>
                    
                    <blockquote>
                      <p class="blockquote-content">{{quote.text}}</p>
                    </blockquote>
                    
                    {{ forloop.index }} of {{ forloop.length }} 
                    
                    </div>
                    
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>     
      <!-- End Orbit -->


    </div>  
</section>
<!-- End Five -->