---
layout: default
---

<!-- One -->
<section class="section-one section-image grid-x align-middle align-center" style="background-image: url({{page.one-image}}); min-height: 100vh;">
    <div class="small-11 medium-10 cell">
      
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 cell" data-aos="fade-in" data-aos-delay="500">
            <a href="#donate" data-toggle="donate" data-smooth-scroll><svg class="icon icon-logo-stacked-rev"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-stacked-rev"></use></svg></a>
        </div>
        
        <div class="small-12 medium-6 cell" data-aos="fade-in" data-aos-delay="500">
            <h3>Get behind film’s next generation</h3>
            <a href="#donate" class="button button--gradient" data-smooth-scroll>Donate Now</a>
        </div>
      </div>
    
    </div>

  
  <div class="section-arrow">
    <div class="grid-x align-center">
      <div class="shrink cell">
        <a href="#section-two" data-smooth-scroll><svg class="icon icon-chevron-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-chevron-down"></use></svg></a>
      </div>
    </div>
  </div>
  
</section>
<!-- End One -->


<!-- Two -->
<section class="section-image grid-x align-middle align-center" style="background-image: url({{page.two-image}}); min-height: 100vh;" id="section-two">
    <div class="small-11 medium-10 cell">
      
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-11 medium-6 cell" data-aos="fade-in">
            <h1>The BFI supports a love of film every step of the way.</h1>
      <p>Our education programmes shape the film culture of tomorrow by investing in the passion of young people today.  We believe everyone deserves the opportunity to enjoy, learn from, and take their place in film, in whatever way they choose.</p>
        </div>
      </div>
    
    </div>
  
</section>
<!-- End Two -->

<!-- Three -->
<section class="section-image grid-x align-middle align-center" style="background-image: url({{page.three-image}}); min-height: 100vh;">
  <div class="small-11 medium-10 cell">
    
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-11 medium-6 cell" data-aos="fade-in">
        <p>We support potential right from the beginning.  The work we do deepens engagement with film, enriches learning, builds practical skills, and helps young people to understand and contribute to the world around them. Your help will ensure that everyone who comes through our doors has the BFI behind them, and feels that anything is possible.</p>
        <a href="">Click To Watch Film</a>
      </div>
    </div>
  
  </div>
</section>
<!-- End Three -->

<!-- Four -->
<section class="section-image grid-x align-middle align-center" style="background-image: url({{page.four-image}}); min-height: 100vh;">
  <div class="small-11 medium-10 cell">
        
<!-- Title -->
<div class="grid-x grid-padding-x">
  <div class="small-12 medium-8 cell" data-aos="fade-in">
    <h3>Every donation we receive can turn an hour into a day, a script into a shoot, a dreamer into an artist</h3>
  </div>
</div>
<!-- End Title -->

<!-- Sub-Sections -->
<div class="grid-x grid-padding-x">

<!-- Sub-Section One -->
<div class="small-12 medium-4 cell" data-aos="fade-in">
  
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <img src="uploads/reaching-teaching.jpg">
    </div>
  </div>
  
  <div class="grid-x">
    <div class="small-12 cell">     
      <h4>Reaching and Teaching</h4>
      <p>Our work with schools, teachers, youth groups and families introduces the power of film, both as an art form and as a tool for all kinds of learning, in the classroom and beyond.</p>
    </div>
  </div>
  
</div>
<!-- End Sub-Section One -->

<!-- Sub-Section Two -->
<div class="small-12 medium-4 cell" data-aos="fade-in">
  
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <img src="uploads/helping-future-film-makers.jpg">
    </div>
  </div>
  
  <div class="grid-x">
    <div class="small-12 cell">     
      <h4>Helping Future Filmmakers</h4>
      <p>BFI Future Film, BFI Film Academy and our hands-on programmes discover and support potential in those who want to make and shape the future of film, whatever their background.</p>
    </div>
  </div>
  
</div>
<!-- End Sub-Section Two -->

<!-- Sub-Section Three -->
<div class="small-12 medium-4 cell" data-aos="fade-in">
  
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <img src="uploads/keeping-film-in-focus.jpg">
    </div>
  </div>
  
  <div class="grid-x">
    <div class="small-12 cell">     
      <h4>Keeping Film in Focus</h4>
      <p>The BFI continues to champion film’s social, cultural and economic importance.  Our unique role as the UK’s advocate for moving image around the world underpins the value and impact of film education.</p>
    </div>
  </div>
  
</div>
<!-- End Sub-Section Three -->
</div>
<!-- End Sub-Sections -->


      
    </div>
  </section>
<!-- End Four -->


<!-- Five -->
<section class="section-image grid-x align-middle align-center" style="background-image: url({{page.five-image}}); min-height: 100vh;">
    <div class="small-11 medium-10 cell">
      
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-11 medium-6 cell" data-aos="fade-in">
            <h1>Quote Section</h1>
        </div>
      </div>
    
    </div>
  
</section>
<!-- End Five -->